

/* .home {
    padding: 0;
    margin: 0;
    height: 92vh;
    background: url('../../Assets/img2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-color: blue;
} */

/* HERO ---------- */

.home_hero {
    height: 92vh;
    background-color: rgba(67, 68, 95, 0.906);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.left_hero {
    color: #fff;
    width: 500px;
}
.right_hero {
    height: 60vh;
    width: 400px;
    background: url('../../Assets/images.jpeg');
    background-repeat: no-repeat;
    background-size: cover; 
}

/* ABOUT ---------- */

.about {
    height: 80vh;
    margin: 50px 400px;
}
.about .heading {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-weight: 800;
}
.about .about-paragraph {
    display: flex;
    justify-content: center;
    text-align: center;
}


/* FEATURES ---------- */
.features-section{
    height: 80vh;
}
.features-section .heading {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-weight: 800;
}

.features-content {
    display: flex;
    margin: 50px;
    gap: 20px;
}

.features-box .features-head {
    font-weight: 600;
}