

/* .home {
    padding: 0;
    margin: 0;
    height: 92vh;
    background: url('../../Assets/img2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-color: blue;
} */

/* HERO ---------- */

.home_hero {
    height: 93.5vh;
    background-color: rgba(67, 68, 95, 0.906);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.left_hero {
    color: #fff;
    width: 500px;
}
.right_hero img {
    border-radius: 16px;
}

/* ABOUT ---------- */

.about {
    margin: 50px 400px;
}
.about .heading {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-weight: 800;
}
.about .about-paragraph {
    display: flex;
    justify-content: center;
    text-align: center;
}
.about .image-about {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 500px;
    margin: 20px;
    border-radius: 16px;
}

.aboutstory {
    display: flex;
}
.aboutstory p {
    margin-top: 50px;
    text-align: center;
}

/* FEATURES ---------- */
.features-section{
    height: 80vh;
}
.features-section .heading {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-weight: 800;
}

.features-content {
    display: flex;
    margin: 50px;
    gap: 20px;
}

.features-box .features-head {
    font-weight: 600;
}

/* CONTACT --------------*/

.contact-section {
    display: flex;
    align-items: center;
    justify-content: center;
  }


@media (max-width: 1540px) {
    .about {
        margin: 50px 300px;
    }
    .image-about {
        width: 500px;
    }
}